<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="testeStyle.css" />
    <link rel="stylesheet" href="../styles/lista.css" />
    <title>SER</title>
  </head>
  <body>
    <main class="apresentacao">
      <div class="progresso">
        <div class="progresso-step active">1</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step active">2</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step">3</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step">4</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step">5</div>
      </div>
      <form>
        <h3>Endereço</h3>
        <div class="apresentacao__formulario">
          <label for="cep">CEP: </label>
          <input
            type="text"
            id="cep"
            name="cep"
            maxlength="10"
            placeholder="Digite seu CEP"
            oninput="formatarCep(this)"
            onkeydown="eventoEnterCep(event)"
            onblur="buscarEnderecoPorCep()"
            required
          />
        </div>
        <div
          id="campo_estado"
          class="apresentacao__formulario apresentacao--formulario--linha apresentacao--formulario--espacoEntreDiv"
        >
          <label for="estado" class="estadolab">Estado:</label>
          <input
            type="text"
            id="estado"
            class="estado"
            name="estadoInput"
            placeholder="UF"
            oninput="filtrarEstados()"
            required
          />
          <ul id="listaEstados" class="dropdown-list"></ul>
        </div>
        <div
          class="apresentacao__formulario apresentacao--formulario--linha apresentacao--formulario--CidadeLarguraInput"
        >
          <label for="cidade">Cidade:</label>
          <input
            type="text"
            id="cidade"
            class="cidade"
            name="cidade"
            placeholder="Digite a cidade"
            oninput="filtrarCidades()"
            required
          />
          <ul id="listaCidades" class="dropdown-list"></ul>
        </div>
        <div class="apresentacao__formulario apresentacao--formulario--linha">
          <label for="bairro">Bairro:</label>
          <input
            type="text"
            id="bairro"
            name="bairro"
            placeholder="Digite o nome bairro"
            required
          />
        </div>
        <div
          class="apresentacao__formulario apresentacao--formulario--linha--espacoNoGrupoDeDois apresentacao--formulario--espacoDireita apresentacao--formulario--larguraLogradouroInput"
        >
          <label for="logradouro">Logradouro:</label>
          <input
            type="text"
            id="logradouro"
            name="logradouro"
            placeholder="Digite o logradouro"
            required
          />
        </div>
        <div
          id="campo_numero"
          class="apresentacao__formulario apresentacao--formulario--linha--espacoNoGrupoDeDois"
        >
          <label for="numero_residencial">Número:</label>
          <input
            type="text"
            id="numero_residencial"
            name="numero_residencial"
            placeholder="Digite o nº da residencia"
            required
          />
        </div>
        <div class="apresentacao__formulario">
          <label for="complemento">Complemento: </label>
          <input
            type="text"
            id="complemento"
            name="complemento"
            placeholder="Digite a referência"
            required
          />
        </div>
        <div class="apresentacao__botao">
          <button
            type="button"
            id="previous-button"
            onclick="window.location.href='dadoPessoal.html'"
          >
            Voltar
          </button>
          <button
            type="submit"
            onclick="window.location.href='dadoComplementar.html'"
          >
            Continuar
          </button>
        </div>
      </form>
    </main>
    <script src="../scripts/cepScript.js"></script>
    <script src="testeScript.js"></script>
  </body>
</html>
