<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="testeStyle.css" />
    <link rel="stylesheet" href="./styles/informa.css" />
    <link rel="stylesheet" href="testeScript.js" />
    <title>SER</title>
  </head>
  <body>
    <main class="apresentacao apresentacao--login">
      <form>
        <h2 id="apresentacao--titulo">Esqueceu sua Senha?</h2>
        <p>Enviaremos um e-mail com instruções de como redefinir sua senha.</p>
        <div class="apresentacao__formulario">
          <label for="mail">E-mail: </label>
          <input
            type="email"
            id="mail"
            name="mail"
            placeholder="Digite um e-mail"
            required
          />
        </div>
        <div class="apresentacao__botao">
          <button type="submit" onclick="window.location.href='login.html'">
            Enviar
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
