<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="testeStyle.css" />
    <link rel="stylesheet" href="./styles/informa.css" />
    <link rel="stylesheet" href="testeScript.js" />
    <title>SER</title>
  </head>
  <body>
    <header class="cabecalho">
      <div
        id="cabecalho__iconelogin"
        onclick="window.location.href='login.html'"
      >
        Login
      </div>
    </header>
    <main></main>
  </body>
</html>
