<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="testeStyle.css" />
    <title>SER</title>
  </head>
  <body>
    <main class="apresentacao">
      <div class="progresso">
        <div class="progresso-step active">1</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step active">2</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step active">3</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step active">4</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step active">5</div>
      </div>
      <form>
        <h3>Termo</h3>
        <div class="apresentacao__formulario">
          <p>
            CIENTE SOBRE A OBRIGATORIEDADE DE ASSISTIR ÀS DOUTRINÁRIAS, ÀS
            QUARTAS FEIRAS, ÀS 19:00, PRESENCIALMENTE, NA RUA ALAGOAS, 121-MARIA
            PRETA - SAJ-BA, OU ON-LINE, ATRAVÉS DO CANAL SER - SOCIEDADE
            ESPÍRITA RAFAEL LÍRIO, NO YOUTUBE.
          </p>
        </div>
        <div class="apresentacao__formulario__opcaoSN">
          <input
            type="checkbox"
            id="termo-responsabilidade"
            name="termo-responsabilidade"
            required
          />
          <label for="termo-responsabilidade">Ciente*</label>
        </div>

        <div class="apresentacao__botao">
          <button
            type="button"
            id="previous-button"
            onclick="window.location.href='tratamentoSitoma.html'"
          >
            Voltar
          </button>
          <button type="submit" onclick="window.location.href='login.html'">
            Continuar
          </button>
        </div>
      </form>
    </main>
    <script src="testeScript.js"></script>
  </body>
</html>
