:root {
  --cor-primaria: rgb(167, 228, 248);
  --cor-secundaria: rgb(92 177 205);
  --cor-terciario: rgb(27, 99, 123);
  --cor-quaternario: #fff;
  --cor-quinario: #ddd;
  --cor-fonte: #333;
  --cor-borda: #ccc;
  --cor-sombra: rgba(0, 0, 0, 0.1);
}

body {
  /*background-color: #f0fcff;*/
  background-color: var(--cor-primaria);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--cor-fonte);
}

h5 {
  text-align: right;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

label {
  margin-top: 20px;
  display: block;
  margin-bottom: 5px;
  color: var(--cor-fonte);
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='tel'],
.textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--cor-borda);
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: var(--cor-secundaria);
  color: var(--cor-quaternario);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--cor-terciario);
}

/* Bloco */
.apresentacao {
  background-color: var(--cor-quaternario);
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--cor-sombra);
  padding: 30px;
  width: 600px;
  display: inline-block;
}

.progresso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.progresso-bar {
  flex: 1;
  height: 5px;
  background-color: var(--cor-quinario);
  border-radius: 10px;
}

.progresso-step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--cor-quinario);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--cor-quaternario);
}

.progresso-step.active {
  background-color: var(--cor-secundaria);
}

.progresso-step.completed {
  background-color: var(--cor-secundaria);
}

/* Elemento */
#apresentacao--titulo {
  margin-bottom: 1%;
}

#subtitulo {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

#cabecalho__iconelogin {
  padding: 50%;
  border-radius: 50%;
  background-color: var(--cor-secundaria);
  display: flex;
  justify-content: center; /* Centraliza o formulário dentro do main */
  align-items: center;
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 5px var(--cor-sombra);
}

#cabecalho__iconelogin:hover {
  cursor: pointer;
  background-color: var(--cor-terciario);
  color: var(--cor-quaternario);
  box-shadow: 0 2px 5px var(--cor-secundaria);
}

#religionSelect {
  width: 100%;
}

.apresentacao__formulario {
  align-items: center; /* Alinha a label e as opções lado a lado */
}

.apresentacao__formulario label {
  margin-right: 10px; /* Espaço entre a label e as opções de radio */
  margin-bottom: 10px;
  box-sizing: border-box;
}

.apresentacao__formulario__opcaoSN {
  display: flex;
  align-items: baseline; /* Alinha os radio buttons verticalmente */
  margin-right: 20px; /* Espaço à direita para o textarea */
}

.apresentacao__formulario__opcaoSN input[type='radio'] {
  margin-right: 5px; /* Espaço entre os radio buttons e suas labels */
}

#campoTratamentoMedico {
  display: none; /* Esconde o campo inicialmente */
  flex-grow: 1; /* Ocupa o espaço reservado */
  margin-top: 15px; /* Espaçamento superior quando o campo é mostrado */
}

.campoTratamentoMedico.mostrar {
  display: block; /* Mostra o campo quando necessário */
  width: 100%; /* Ocupa todo o espaço disponível */
}

.apresentacao__botao {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.apresentacao--botao--espacoVazio {
  margin-top: 100px; /* Espaço entre os radios/textarea e os botões */
}

.apresentacao__botao button {
  width: 48%;
}

#campo_estado {
  width: 15%; /* Faz com que o contêiner ocupe 100% da largura disponível */
}

#campo_numero {
  width: 30%;
}

#campo_estado,
#campo_numero {
  display: inline-block;
  align-items: center;
}

#campo_estado label,
#campo_estado input,
#campo_numero label,
#campo_numero input {
  width: 100%; /* Faz com que o label e o input tenham a mesma largura */
}

input#estado {
  width: 70%; /* Se quiser que o input tenha uma largura específica */
}

label.estadolab {
  width: 30%;
}

#campo_estado #campo_numero label.estadolab {
  flex: 1; /* O label ocupará o espaço disponível proporcionalmente */
}

#cidade,
#bairro {
  width: 100%;
}

/* Modificador */

.instituicao--SER {
  color: var(--cor-secundaria);
}

.apresentacao--login {
  width: 300px;
}

.apresentacao--formulario--vertical {
  display: flex;
}

.apresentacao--formulario--SNeOculto {
  display: flex;
  justify-content: space-between; /* Distribui o espaço entre os elementos */
}

.apresentacao--formulario--linha {
  display: inline-block;
}

.apresentacao--formulario--linha--espacoNoGrupoDeDois {
  width: 48%;
  display: inline-block;
}

.apresentacao--formulario--espacoDireita {
  margin-right: 3.1%;
}

.apresentacao--formulario--espacoNoGrupoDeTres {
  margin-right: 8%;
}

.apresentacao--formulario--espacoEntreDiv {
  margin-right: 0;
}

.apresentacao--formulario--CidadeLarguraInput {
  width: 46%;
  margin-right: 5%;
}

.apresentacao--formulario--larguraLogradouroInput {
  width: 66%;
}

.apresentacao__formulario__marcarEscolhido {
  display: flex;
  align-items: baseline;
  margin-right: 2%;
}

.link--palavra {
  color: var(--cor-secundaria);
}

.link--palavra:hover {
  cursor: pointer;
  color: var(--cor-terciario);
}
