<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="testeStyle.css" />
    <title>SER</title>
  </head>
  <body>
    <main class="apresentacao">
      <div class="progresso">
        <div class="progresso-step active">1</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step active">2</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step active">3</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step active">4</div>
        <div class="progresso-bar"></div>
        <div class="progresso-step">5</div>
      </div>
      <form>
        <h3>Tratamentos e Sintomas</h3>
        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
          <label>Está fazendo algum tratamento médico?</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="tratamento_medico_sim"
              class="primeiroCampoSim"
              name="tratamento_medico"
              value="sim"
              onchange="alternarCampoTramentoMedico()"
              required
            />
            <label class="primeiroCampo" for="tratamento_medico_sim">Sim</label>
            <input
              type="radio"
              id="tratamento_medico_nao"
              name="tratamento_medico"
              value="nao"
              onchange="alternarCampoTramentoMedico()"
            />
            <label for="tratamento_medico_nao">Não</label>
          </div>
        </div>

        <div
          id="campoTratamentoMedico"
          class="apresentacao__formulario apresentacao--formulario--vertical"
        >
          <label for="nome-tratamento-medico">
            Que tratamento está fazendo?*
          </label>
          <textarea
            type="text"
            id="nome-tratamento-medico"
            class="textarea"
            name="tratamento_medico_texto"
            rows="3"
            required
          ></textarea>
        </div>

        <!-- ***************************** -->
        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
          <label>Faz uso de algum medicamento?*</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="medicamento_sim"
              class="primeiroCampoSim"
              name="medicamento"
              value="sim"
              onchange="alternarCampoMedicamento()"
              required
            />
            <label class="primeiroCampo" for="medicamento_sim">Sim</label>
            <input
              type="radio"
              id="medicamento_nao"
              name="medicamento"
              value="nao"
              onchange="alternarCampoMedicamento()"
            />
            <label for="medicamento_nao">Não</label>
          </div>
        </div>

        <div
          id="campoMedicamento"
          class="apresentacao__formulario apresentacao--formulario--vertical"
        >
          <label for="nome-medicamento"> Qual o nome do medicamento?* </label>
          <textarea
            type="text"
            id="nome-medicamento"
            class="textarea"
            name="medicamento_texto"
            rows="3"
            required
          ></textarea>
        </div>
        <!-- ***************************** -->

        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
          <label>Tem desmaios sem causa aparente?*</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="desmaios_sim"
              class="primeiroCampoSim"
              name="desmaio"
              value="sim"
              required
            />
            <label class="primeiroCampo" for="desmaios_sim">Sim</label>
            <input type="radio" id="desmaios_nao" name="desmaio" value="nao" />
            <label for="desmaios_nao">Não</label>
          </div>
        </div>
        <!-- ***************************** -->
        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
          <label>Vê vultos?*</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="vultos_sim"
              class="primeiroCampoSim"
              name="vultos"
              value="sim"
              required
            />
            <label class="primeiroCampo" for="vultos_sim">Sim</label>
            <input type="radio" id="vultos_nao" name="vultos" value="nao" />
            <label for="vultos_nao">Não</label>
          </div>
        </div>
        <!-- ***************************** -->
        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
          <label>Escuta vozes?*</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="vozes_sim"
              class="primeiroCampoSim"
              name="vozes"
              value="sim"
              required
            />
            <label class="primeiroCampo" for="vozes_sim">Sim</label>
            <input type="radio" id="vozes_nao" name="vozes" value="nao" />
            <label for="vozes_nao">Não</label>
          </div>
        </div>
        <!-- ***************************** -->
        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
          <label>Tem pensamentos negativos e/ou ideias suicidas?*</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="pensamentos_sim"
              class="primeiroCampoSim"
              name="pensamentos_negativos"
              value="sim"
              required
            />
            <label class="primeiroCampo" for="pensamentos_sim">Sim</label>
            <input
              type="radio"
              id="pensamentos_nao"
              name="pensamentos_negativos"
              value="nao"
            />
            <label for="pensamentos_nao">Não</label>
          </div>
        </div>
        <!-- ***************************** -->
        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
          <label>Houve algum desencarne na família no último ano?*</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="desencarne_familia_sim"
              class="primeiroCampoSim"
              name="problemaFamiliar"
              value="sim"
              required
            />
            <label class="primeiroCampo" for="desencarne_familia_sim"
              >Sim</label
            >
            <input
              type="radio"
              id="desencarne_familia_nao"
              name="problemaFamiliar"
              value="nao"
            />
            <label for="desencarne_familia_nao">Não</label>
          </div>
        </div>
        <!-- ***************************** -->
        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
          <label>Tem alergia?*</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="alergia_sim"
              class="primeiroCampoSim"
              name="alergia"
              value="sim"
              onchange="alternarCampoAlergia()"
              required
            />
            <label class="primeiroCampo" for="alergia_sim">Sim</label>
            <input
              type="radio"
              id="alergia_nao"
              name="alergia"
              value="nao"
              onchange="alternarCampoAlergia()"
            />
            <label for="alergia_nao">Não</label>
          </div>
        </div>

        <div
          id="campoAlergia"
          class="apresentacao__formulario apresentacao--formulario--vertical"
        >
          <label for="nome-alergia"> Qual o tipo de alergia? </label>
          <textarea
            type="text"
            id="nome-alergia"
            class="textarea"
            name="text"
            rows="3"
          ></textarea>
        </div>
        <!-- ***************************** -->
        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
          <label>Faz psicoterapia?*</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="psicoterapia_sim"
              class="primeiroCampoSim"
              name="psicoterapia"
              value="sim"
              required
            />
            <label class="primeiroCampo" for="psicoterapia_sim">Sim</label>
            <input
              type="radio"
              id="psicoterapia_nao"
              name="psicoterapia"
              value="nao"
            />
            <label for="psicoterapia_nao">Não</label>
          </div>
        </div>
        <!-- ***************************** -->
        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
          <label>Faz ou já fez algum tratamento psiquiátrico?*</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="tratamento_psiquiatrico_sim"
              class="primeiroCampoSim"
              name="tratamentoPsiquiatrico"
              value="sim"
              onchange="alternarCampoTratamentoPsiquiatrico()"
              required
            />
            <label class="primeiroCampo" for="tratamento_psiquiatrico_sim"
              >Sim</label
            >
            <input
              type="radio"
              id="tratamento_psiquiatrico_nao"
              name="tratamentoPsiquiatrico"
              value="nao"
              onchange="alternarCampoTratamentoPsiquiatrico()"
            />
            <label for="tratamento_psiquiatrico_nao">Não</label>
          </div>
        </div>

        <div
          id="campoTratamentoPsiquiatrico"
          class="apresentacao__formulario apresentacao--formulario--vertical"
        >
          <label for="motivo-psiquiatrica">
            Qual o motivo que levou você a procurar acompanhamento
            psiquiátrico?*
          </label>
          <textarea
            type="text"
            id="motivo-psiquiatrica"
            class="textarea"
            name="text"
            rows="3"
            required
          ></textarea>
        </div>
        <!-- ***************************** -->
        <div
          class="apresentacao__formulario apresentacao--formulario--SNeOculto"
        >
        <label>Já fez algum tratamento espiritual em centro espírita?*</label>
          <div class="apresentacao__formulario__opcaoSN">
            <input
              type="radio"
              id="tratamento_espiritual_sim"
              class="primeiroCampoSim"
              name="tratamentoEspiritual"
              value="sim"
              required
            />
            <label class="primeiroCampo" for="tratamento_espiritual_sim"
              >Sim</label
            >
            <input
              type="radio"
              id="tratamento_espiritual_nao"
              name="tratamentoEspiritual"
              value="nao"
            />
            <label for="tratamento_espiritual_nao">Não</label>
        </div>
          </div>
        </div>
        <!-- ***************************** -->

        <div class="apresentacao__botao apresentacao--botao--espacoVazio">
          <button
            type="button"
            id="previous-button"
            onclick="window.location.href='dadoComplementar.html'"
          >
            Voltar
          </button>
          <button type="submit" onclick="window.location.href='termo.html'">Continuar</button>
        </div>
      </form>
    </main>
    <script src="../scripts/script.js"></script>
    <script src="testeScript.js"></script>
  </body>
</html>
