.dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-left: 1px solid #ccc;
  max-height: 19%;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  background-color: white;
  width: 29.9%;
}

.dropdown-list li {
  padding: 5px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #ddd;
}

.input-text {
  width: 100%;
  box-sizing: border-box;
}

.selecionado {
  background-color: #cce5ff;
  color: #004085;
}
