* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: rgb(167, 228, 248);
}

.cabecalho {
  padding: 2% 0 0 15%;
}

.cabecalho__imagem {
  border-radius: 1rem;
  width: 15%;
}

section {
  margin-bottom: 1rem;
  background-color: white;
}
