@import url('https://fonts.googleapis.com/css2?family=One&family=Montserrat:wght@600&display=swap');

:root {
  --fonte-primaria: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* Inicialmente oculta o campo de texto */
#campoTexto,
#campoTratamentoMedico,
#campoMedicamento,
#campoAlergia,
#campoTratamentoPsiquiatrico {
  display: none;
}

body {
  box-sizing: border-box;
  background-color: rgb(167, 228, 248);
}

.cabecalho {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

.cabecalho__imagem {
  border-radius: 1rem;
  width: 15%;
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  flex-wrap: wrap;
}

.apresentacao__conteudo,
.apresentacao__conteudo2 {
  width: 49%;
  box-sizing: border-box; /* Garante que padding e border não aumentem a largura */
}

.apresentacao__conteudo {
  margin-right: 2%;
}

.apresentacao__conteudo3 {
  grid-column: span 2;
  width: 100%;
}

.apresentacao__titulo,
.apresentacao__conteudo__texto,
.apresentacao__conteudo3__texto {
  padding-bottom: 2%;
  border-bottom: 1.5px solid rgb(167, 228, 248);
  font-family: var(--fonte-primaria);
}

.apresentacao__texto {
  padding-top: 2%;
}

section {
  margin-bottom: 1rem;
  padding: 2% 3%;
  background-color: white;
}

div {
  padding: 1% 0;
}

p {
  text-align: justify;
}

button {
  padding: 1% 3%;
}

input {
  margin-top: 1%;
  padding: 0.4% 0 0.4% 1%;
  border-radius: 0.5rem;
}

textarea {
  margin-top: 1%;
  padding: 1%;
}

#nome {
  width: 100%;
}

.apresentacao__conteudo__div {
  margin-top: 3%;
}

.primeiroCampo {
  margin-right: 2%;
}

.primeiroCampoSim {
  margin-left: 2%;
}

.textarea {
  width: 100%;
}

.apresentacao__conteudo__div__separa {
  display: block;
}

.apresentacao__conteudo3__div__separa {
  display: block;
}

.apresentacao__conteudo3__div__campoOculto__separa {
  display: block;
}

@media (max-width: 1200px) {
  .cabecalho__imagem {
    height: 8rem;
    width: auto;
  }

  .apresentacao {
    padding: 5%;
  }

  .apresentacao__conteudo {
    margin-right: 0;
    width: 100%;
  }

  .apresentacao__conteudo2 {
    width: 100%;
  }

  .apresentacao__conteudo3__div {
    margin-top: 9%;
  }

  #enviar {
    margin-top: 15%;
    padding: 0.7rem 5rem;
  }
}
